body{
    padding: 5px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:auto;
    height: fit-content;

}
header{
    position: relative;
    left: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
}
.iteam,.quantity{
    position: relative;
    border:0;
    border-radius: 15px;
    padding: 10px;
    border-color: rgb(105, 105, 105);
    background-color: rgb(219, 219, 219);
    
}
.details{
    position: relative;
    top: 68px;
    left:25%;
    width: max-content;
    
    opacity: 100%;
   
    
}
.order{
    position: relative;
    top: 50px;
    left: 25%;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border-color: rgb(2, 91, 255);
}

.list{
    position: relative;
    bottom: 200px;
    font-size: 10px;
    left: 75%;
    padding: 10px;
    width:fit-content;
    height:auto;
    background-color: rgba(140, 37, 37, 0);
    border-radius:10px;
    z-index: 5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.list div{
    position: relative;
    width: 330px;
    height: 80px;
    border-radius: 10px;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.711);
    left: 10px;
    align-content: center;
    border: 2px blue;
}
.list h2{
    position: relative;
    top: 32%;
    left: 10px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}